h4
{
    font-size: 28px !important;
}

#take_snapshot:hover
{
background-color: skyblue;
}

canvas
{
    animation-name: hair;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes hair{

    from{ box-shadow:1px 1px 40px green ;}
    to{box-shadow:1px 1px 40px  orange ;}

}
